<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Write title here.</title>
		<meta charset="utf-8">
		<style>
		p {
			color: green;
			text-align: right;
		}
		</style>
	</head>
	<body>

	</body>
</html>