<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Write title here.</title>
		<meta charset="utf-8">
		<style>
		p {
			color: snow;
			background: black;
			font-weight: bold;
			text-align: right;
		}
		
		<h1 {
			text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
		}
		
		</style>
	</head>
	<body>

	</body>
</html>