<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="Class_A.css">
	</head>
	<body>
	body {
		font-style: italic;
		text-align: center;
	}
	.Class_A {
	color: blue;
	}
	</body>
</html>